
$primary: #E9E9E9;
$secondary: #FABDBD;
$white: #fff;
$gray-900: #111;
$danger: #E52828;
$font-family-sans-serif: 'Syne', sans-serif;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$h3-font-size: 20px;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 4,
  5: $spacer * 10,
  6:  $spacer * 25,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

html,body {
  height: 100%;
}

h1 {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase
}
/////////////////////////////////////////
////             FORMS               ////
/////////////////////////////////////////

input.form-control, textarea {
    border: 0;
    border-bottom: 1px solid $gray-900
}

/////////////////////////////////////////
////            BUTTONS&LINKS        ////
/////////////////////////////////////////

.link {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0);
    font-weight: 700;
}
a.link:hover,
a.link.active {
    border-bottom: 1px solid $danger;
}
a.link:hover:before,
a.link.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -5px;
    z-index: -1;
    border-bottom: 1px solid $danger;
}

.btn-primary {
    background: $danger;
    border-radius: 0;
    color: $white;
    padding: 16px 24px
}
.btn-primary:hover {
    background:  $danger;
    color: $white;
    border-color:  $danger;
}
.btn-primary span img {
    transform: translate(10px, 0);
    transition:  all 0.55s ease-in-out;
}
.btn-primary:hover span img{
    transform: translateX(20px);
}

/////////////////////////////////////////
////       NAV   +  HERO            ////
/////////////////////////////////////////
a.nav-link {
    font-size: 16px;
     color: $gray-900
}
.hero-link {
    font-size: 36px;
    display: block;
    color: $gray-900;
    text-decoration: none;
}
.hero-link:hover {
    color: $danger;
}
.hero-link span {
    opacity: 0;
    padding-left: 0;
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition:  all 0.55s ease-in-out;
}
.hero-link:hover span {
    opacity: 1;
    padding-left: 20px;
}
.lang {
    border-left: 1px solid $gray-900
}
.bg-star {
    background: url(../img/star-bg.svg) no-repeat center
}
.bg-stars {
    background: url(../img/bg-stars.svg) no-repeat center
}
.eyes-anim .lid {
    opacity: 1;
     -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition:  all 0.55s ease-in-out;
}
.eyes-anim:hover .lid {
    opacity: 0;
}
/////////////////////////////////////////
/////      CARD-----PORTFOLIO   /////////
////////////////////////////////////////
.work-img {
    max-height: 600px;
    overflow: hidden;
}
.work-img img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition:  all 0.55s ease-in-out;
}
.work-img img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.work-info .row{
    border-top: 1px solid $gray-900
}
.work-info p{
    margin-bottom: 0
}
.modal-xl {
    max-width: 1440px;
}
.modal-content {
    border: 0;
    border-radius: 0;
}
.modal .row {
    --bs-gutter-x: 0rem;
}
.btn-eye .plus {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
      -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition:  all 0.55s ease-in-out;
}
.btn-eye:hover .plus {
    transform: rotate(45deg);
    transform-origin: 50% 50%;
}
.modal .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    border: 1px solid #111;
    border-radius: 50%;
    padding: 16px
}
.modal hr {
    display: block;
    margin: 36px 0
}
.modal a.btn-next,
.modal a.btn-prev {
    color: #111;
    text-decoration: none;
    padding: 24px 0 0 0;
    position: absolute;
    bottom: 24px;
    left: 24px
}
.modal a.btn-next:hover,
.modal a.btn-prev:hover {
    color: $danger;
    cursor: pointer;
}
.modal a.btn-next {
    left: auto;
    right: 24px
}

/////////////////////////////////////////
////            SERVICES PAGE        ////
/////////////////////////////////////////
.services .col {
    border-right: 1px solid $gray-900
}
.services .col.last {
    border: 0
}
/////////////////////////////////////////
/////          FOOTER          /////////
////////////////////////////////////////
footer li a {
    color: $gray-900;
    text-decoration: none
}