
$primary: #D6342E;
$white: #fcfcfc;
$gray-900: #151515;
$font-family-sans-serif: 'Montserrat', sans-serif;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$h3-font-size: 20px;

@import "../../node_modules/bootstrap/scss/bootstrap";

